/novarocks.log
/novarocks.pid
/novarocks.toml
/sql-tests/target/
/target
/thirdparty/src
/thirdparty/installed/
/thirdparty/build/
/.idea
/dev
/output
/sql-tests/bootstrap
/sql-tests/.sql_test_catalog